body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #2b5069;
  color: #fff;
}

.container {
  padding: 20px;
}

.card {
  background: #ffffff;
  color: #2b5069;
  border-radius: 16px;
  padding: 15px;
  margin: 10px 0;
  transition: 0.3s;
}

button {
  background: #2b5069;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media(max-width:768px){
  .card { width: 100%; }
}